@tailwind base;
@tailwind components;
@tailwind utilities;

/* swiper */
.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {
  font-size: 26px !important;
  color: #dedcdc !important;
  font-weight: 1000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #d3ccbe inset !important;
  /* -webkit-box-shadow: 0 0 0 30px #f9fafb inset !important; */
  /* -webkit-box-shadow: 0 0 0 30px #332721 inset !important; */
  -webkit-text-fill-color: #332721 !important;
}

@layer components {
  .icon {
    @apply w-5 h-5 text-orange-950 dark:text-[#eacfaa] cursor-pointer;
  }
  .notificationBadgeParent {
    @apply relative inline-flex p-1 items-center text-sm font-medium text-center text-white focus:ring-4 focus:outline-none;
  }
  .notificationBadgeChild {
    @apply absolute inline-flex items-center justify-center w-5 h-5 p-1 text-xs font-bold text-white bg-orange-900 dark:bg-orange-800 rounded-full -top-2 -end-2 dark:border-gray-900;
  }
  .footerTitles {
    @apply font-mono text-2xl font-bold mb-5;
  }
  .latestProductsParent {
    @apply lg:grid lg:grid-cols-4 md:grid md:grid-cols-2 grid-cols-1 md:gap-2 flex flex-col justify-center items-center gap-1 mt-12 lg:mx-40 md:mx-10 mx-5;
  }
  .latestProductsAmazingBackGround {
    @apply w-full absolute top-[40%] bg-[#9E8473]/10 left-0 h-[200px] -skew-y-6 z-10;
  }
}
